@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --background-color:#F4F5F0;
}

body{
    font-family: 'Roboto';
    background-color: var(--background-color);
}


.h1-name{
    text-align: center;
    padding:20px;
    margin-bottom: 20px;
}

.nav-container{
    margin:0 auto;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

.nav-container div{
    font-size: 1.4em;
    padding:5px 15px;
    cursor: pointer;
    
}
.nav-container div:hover{
    transform: scale(1.1);
    
    
}

.active{
    border-bottom: 1px solid #5bab52;
   
}
